.PO   { background-color: black; color: white }
.NME  { background-color: brown; }
.KSS  { background-color: orange; }
.KBS  { background-color: blue; color: white }
.MWB  { background-color: yellow; }
.GBS  { background-color: red; }
.CMEG { background-color: purple; color: white }
.BHEG { background-color: green; color: white }

.valid {
   background-color: #cec;
}
.hex {
    float: left;
    margin-left: 2px;
    margin-bottom: -12px;
}
.hex .top {
    width: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
}
.hex .middle {
    width: 45px;
    height: 26px;
    text-align: center;
}
.hex .bottom {
    width: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
}
.hex-row {
    clear: left;
}
.hex-row.even {
    margin-left: 23px;
}


.hex .top[land="p"] {
    border-bottom: 14px solid #6C6;
}
.hex .top[land="m"] {
    border-bottom: 14px solid #662;
}
.hex .top[land="h"] {
    border-bottom: 14px solid #88f;
}

.hex .middle[land="p"] {
    background-color: #6C6;
}
.hex .middle[land="m"] {
    background-color: #662;
}
.hex .middle[land="h"] {
    background-color: #88f;
}

.hex .middle[city="b"] {
   background-image: linear-gradient(-30deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
.hex .bottom[land="p"] {
    border-top: 14px solid #6C6;
}
.hex .bottom[land="m"] {
    border-top: 14px solid #662;
}
.hex .bottom[land="h"] {
    border-top: 14px solid #88f;
}
/* Networking additions */
body,html {
  padding: 0;
  margin: 0;
  font-family: Arial;
  background-color: #eee;
  color: #444;
  font-size: 15px;
  line-height: 18px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}
.connection {
  float: left;
  height: 250px;
  width: 200px;
  overflow: scroll;
  background-color: #fff;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
}
.connection div {
  margin: 5px 0;
}
.connection.active {
  border-color: #FF7500;
}
h1 {
  font-size: 15px;
  padding: 5px 10px;
  margin: 0 -10px 0 -10px;
  border-bottom: 1px solid #ccc;
  font-weight: 300;
}
.active h1 strong {
  color: #FF7500;
}
.file, em {
  color: #999;
  font-style: italic;
}
#wrap {
  background-color: #ddd;
  border-width: 1px 0;
  border-color: #ccc;
  border-style: solid;
}
.clear {
  clear: both;
}
.peer {
  color: #FF7500;
  font-weight: 600;
}
.you {
  color: #0C6BA1;
  font-weight: 600;
}
#pid {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #0C6BA1;
  font-weight: 600;
}
.warning {
  font-size: 12px;
  line-height: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.4);
  font-weight: 300;
  border-width: 1px 0;
  border-color: #000;
  border-style: solid;
}
a {
  color: #F2C777;
}
.filler {
  display: block;
  padding: 10px;
}
#webrtc {
  padding: 10px;
}

button, input {
  font-size: 15px;
  font-family: Arial;
  border: 1px solid #ccc;
  border-right: 0;
  padding: 5px;
  background: #fff;
  margin: 0;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}
input:focus {
  outline: none;
}
.button, button {
  cursor: pointer;
  background-color: #ddd;
  border: 1px solid #ccc;


}
form {
  display: inline-block;
}
#close {
  background-color: #FF7500;
  border-color: #c15c06;
}

.important {
  font-size: 15px;
  color: #F2C777;
  margin-bottom: 10px;
}
