<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link rel="stylesheet" typ e="text></divcss" href="po.css"/>
    <!-- https://github.com/davidbau/seedrandom -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.4/seedrandom.min.js"></script>
   <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>-->
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.js"></script>
   <script src="https://unpkg.com/peerjs@1.0.0/dist/peerjs.min.js"></script>
   <script src="po.js"></script>
   <script type="text/javascript" src="multi.js"></script>
</head>
<body>
   <div id="webrtc" hidden>
    Your PeerJS ID is <span id="pid"></span><br>
    Connect to a peer: <input type="text" id="rid" placeholder="Someone else's id"><input class="button" type="button" value="Connect" id="connect"><br><br>

    <form id="send">
      <input type="text" id="text" placeholder="Enter message"><input class="button" type="submit" value="Send to selected peers">
    </form>
    <button id="close">Close selected connections</button>
  <div id="wrap"><div id="connections"><span class="filler">You have not yet made any connections.</span></div>
    <div class="clear"></div></div>
  </div>
      <table id="players"border=1>
            <tr>
                <th >Name</td>
                <th >Shares</td>
                <th >Income</td>
                <th >Money</td>
                <th >Peer</td>
            </tr>
            <tr class="p0" id='p0'>
                <td ><input id="p0_name" placeholder="Name" onchange="update_name(0)"></td>
                <td id="p0_shares"></td>
                <td id="p0_income"></td>
                <td id="p0_money"></td>
                <td id="p0_peer"></td>
            </tr>
            <tr class="p1" id='p1'>
                <td ><input id="p1_name" placeholder="Name" onchange="update_name(1)"></td>
                <td id="p1_shares"></td>
                <td id="p1_income"></td>
                <td id="p1_money"></td>
                <td id="p1_peer"></td>
            </tr>
            <tr class="p2" id='p2'>
                <td ><input id="p2_name" placeholder="Name" onchange="update_name(2)"></td>
                <td id="p2_shares"></td>
                <td id="p2_income"></td>
                <td id="p2_money"></td>
                <td id="p2_peer"></td>
            </tr>
            <tr class="p3" id='p3'>
                <td ><input id="p3_name" placeholder="Name" onchange="update_name(3)"></td>
                <td id="p3_shares"></td>
                <td id="p3_income"></td>
                <td id="p3_money"></td>
                <td id="p3_peer"></td>
             </tr>
            <tr class="p4" id='p4'>
                <td ><input id="p4_name" placeholder="Name" onchange="update_name(4)"></td>
                <td id="p4_shares"></td>
                <td id="p4_income"></td>
                <td id="p4_money"></td>
                <td id="p4_peer"></td>
            </tr>
        </table>
        <button  id='start' onclick="start()">Start game</button>
        <button  id='restart' onclick="restart()" hidden >Another game</button>
<table id=companies border=1>
<tr><th>Company<th>Outstanding shares<th>Income<th>Cash<th>Touched<th>Rails</tr>
</table>
<div id='turn' >Active player: <span id="action"></span><button id-'pass' onclick="end_action()">Pass</button></div>
<div id='placing' hidden >Placing <span id='place_count'></span> track for <span id='place_mark'>&nbsp;</span></div>
<div id='auction' hidden >Bidding for <span id='bid_co'></span><span id='bid_mark'>&nbsp;</span><div></div>
Current high bidder: <span id='h_bidder'></span> at <span id='h_bid'></span><div></div>
Current bid: <span id="bidder"></span><input id='bid'/><button onclick="bid()">Bid</button><button onclick="bid_pass()">Pass</button><div></div></div>
Remaining actions:<span id="actions"></span><div/></div>
<div id="map" style="float: left; width: 2100;">
</div>
</body>
